.stravaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.stravaCard {
  --border-radius: 4px;
  --strava-brand-color: #e34402;

  & h4 {
    font-weight: 700;
  }
}

.stravaCardTitle {
  color: var(--strava-brand-color);
  margin-bottom: 1rem;
  margin-top: 0;
}

.latestRun {
  border-radius: var(--border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0.5rem;

  &.hasPhoto {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
    transform: rotateZ(2deg);
    transition: transform 0.25s;

    &:hover {
      transform: rotateZ(0);
    }

    & .activityName,
    & .label,
    & .label + div {
      color: white;
    }
  }
}

.activityName {
  margin-bottom: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.label {
  color: #565656;
  font-size: 0.75rem;

  & + div {
    font-size: 1.15rem;
    line-height: 1.2;
  }
}

.stravaStats {
  margin-top: 1rem;
  position: relative;

  & p {
    margin: 0.25rem 0;
  }

  & p:last-of-type {
    margin-bottom: 0.75rem;
  }
}

.goalProgress {
  background-color: var(--strava-brand-color);
  border-radius: var(--border-radius);
  height: 8px;
}

.goalProgress::after {
  content: '';
  background-color: rgba(128, 128, 128, 0.2);
  bottom: 0;
  border-radius: var(--border-radius);
  height: 8px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
